* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body {
    background-color:#252525;
}

nav {
    background-color:#252525;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}

nav#navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em 2em 0.3em;
}

nav .logo {
    height: 50px;
}

nav ul.navbar li {
    list-style: none;
}

nav ul.navbar li a {
    color: #fff;
    text-decoration: none;
    vertical-align: bottom;
}
nav ul.navbar li a:hover {
    color:#c72121
}

.carousel-item{
    height: 90vh;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption{
    font-weight: 700;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5{
    font-weight: 700;
    font-size: 2.5em;
}

.button {
    background-color: #c72121 ;
    font-size: 0.7em;
    font-weight: 600;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }
  
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background-color:#fd1111b9;

  }
  
  .button:active {
    transform: translateY(0.5em);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
  }

  section#programacion h2 {
        font-size: 2.4em;
        letter-spacing: 0.025em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: #fff;
        font-size: 115px;
        font-weight: 800;
  }

/* Mobile */
@media(max-width:992px) {
    nav#navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel-caption{
        font-weight: 300;
        font-size: 0.8em;
        transform: translateY(-50%);
    }
    
    .carousel-caption h5{
        font-weight: 900;
        font-size: 2em;
    }
    .carousel-item{
        height: 50vh;
    }
    .carousel-item img {
        height: 50vh;
    }

}

